
@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>
<div id="divTabla"></div>
<div class="input-group mb-3">
    <input type="text" id="txtNombreBusqueda" class="form-control" placeholder="Sucursal" aria-label="Sucursal" aria-describedby="button-addon2" onkeyup="filtrarSucursal()">
@*     <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="BuscarSucursal()">Button</button>
    <button id="btnLimpiar" class="btn btn-outline-secondary" type="button" onclick="LimpiarControl()">Limpiar</button>
</div> *@
<script src="~/js/generic.js"></script>
<script src="~/js/sucursal.js"></script>