
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <div id="divtabla">
    </div>

    <script src="~/js/tipomedicamento.js"></script>
</head>
<body>
</body>
</html>
