
@{
    ViewData["Title"] = "SinMenu";
}

<h1>Tipo Medicamento</h1>
<div class="input-group mb-3">
    <input type="text" id="txtNombreBusqueda" class="form-control" placeholder="Tipo de Medicamento" aria-label="Tipo de Medicamento" aria-describedby="button-addon2" onkeyup="filtrarTipoMedicamento()">
    @*    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="BuscarTipoMedicamento()">Buscar</button>
    <button id="btnLimpiar" class="btn btn-outline-secondary" type="button" onclick="LimpiarControl()">Limpiar</button> *@
</div>
<div id="divTabla"></div>

<script src="~/js/tipomedicamento.js"></script>
<script src="~/js/generic.js"></script>
<!-- Ejemplo de enlace en SinMenu.cshtml -->
@* <a asp-controller="Sucursal" asp-action="Detalle" asp-route-id="1">Ver Detalles de Sucursal 1</a>
 *@