@{
    ViewData["Title"] = "TipoMedicamento";
}

<h1>Tipo Medicamento</h1>
<div class="input-group mb-3">
    <input type="text" id="txtNombreBusqueda" class="form-control" placeholder="Tipo de Medicamento"
           aria-label="Tipo de Medicamento" aria-describedby="button-addon2"
           onkeyup="filtrarTipoMedicamento()">
</div>

<fieldset>
    <legend>Guardar Tipo Medicamento</legend>
    <form id="frmGuardar" method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="idMedicamento" class="form-label">Id Tipo Medicamento</label>
                <input type="text" class="form-control" id="idMedicamento" name="idMedicamento" placeholder="Id" readonly>
            </div>
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
            </div>
            <div class="col-md-6">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción">
            </div>
        </div>
    </form>
</fieldset>

<div class="row g-3 mt-3">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" onclick="GuardarTipoMedicamento()">Guardar</button>
        <button type="button" class="btn btn-danger" onclick="LimpiarFormulario()">Limpiar</button>
    </div>
</div>

<div id="divtabla"></div>

@section Scripts {
    <script src="~/js/generic.js"></script>
    <script src="~/js/tipomedicamento.js"></script>
}