@{
    ViewData["Title"] = "Guardar Sucursal";
}

<h2>Guardar Sucursal</h2>

<form>
    <div>
        <label>ID Sucursal:</label>
        <input type="text" id="iidsucursal" />
    </div>
    <div>
        <label>Nombre:</label>
        <input type="text" id="nombre" />
    </div>
    <div>
        <label>Dirección:</label>
        <input type="text" id="direccion" />
    </div>
    <div>
        <label>Foto Sucursal:</label>
        <input type="file" id="fotosucursal" />
    </div>
    <div>
        <label>Nombre Foto Sucursal:</label>
        <input type="text" id="nombrefotosucursal" />
    </div>
    <button type="button" id="btnGuardar">Guardar</button>
</form>
<script src="~/js/guardar.js"></script>
